.help-home .container-fluid {
  padding: 5px 100px;
}

.list-img-start {
  max-height: 120px;
  margin-right: 30px;
}

.help-list {
  position: relative;
  display: flex;
  min-height: 115px;
  width: 50%;
}
